<div class="container">
<%= form_tag "", remote: true, id: "report_form" do %>
  <div class="form-group">
    <%= label_tag "", "Choose report type" %>
    <%= select_tag :report_type, "<option>Clicks for all users</option>
    <option>Activity for all users</option>
    <option>Clicks for selected user</option>
    <option>Activity for selected user</option>".html_safe, class: "form-control" %>
  </div>
  <div class="form-group" id="report_user_select">
    <%= label_tag "", "Choose user from dropdown" %>
    <%= select_tag @user_key, options_from_collection_for_select(@users, :id, :email), class: "form-control" %>
  </div>
<% end %>
</div>
